# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-zip/

# IDE / Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/
